<div class="container mt-4">
    <div class="px-4">
        <div class="col-md-12">
            <h1 class="text-center fw-bold">SEKOU</h1>
            <h3 class="text-center">SCHOOL Web Management Application</h3>
            <h4 class="">{{ currentDate}} </h4>
        </div>
        <div class="row mb-2">
            <div class="card">
            </div>
        </div>
        <div class="row">
            <div class="d-flex justify-content-center">
                <button mat-raised-button color="warn" class="btn-start" routerLink="/add-new-school">GET
                    STARTED</button>
            </div>
        </div>
    </div>
</div>