table{
    font-size: smaller;
    border-collapse: collapse;
}

table td{
    font-size: smaller;  
}

table td.row-active {
    font-weight: bold;
    color: #009879;
}

td:hover{
    cursor: pointer;
    color: #009879;
    font-size: smaller;  
    transition: none;
}

.card{
    border: 1px solid #ccc;
}
mat-form-field{
    width: 300px;
   
}
.button-search{
    width: 200px;
    height: 50px;
    border-radius: 15px;
}

  