<div class="container">
    <h1 class="mat-1">
        <button mat-icon-button routerLink="../"> <mat-icon>arrow_back</mat-icon></button>
        Settings
    </h1>
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="form-speciality">
                <h3 class="mat-3 text-center">Add new Speciality</h3>
                <div class="row ">
                    <div class="col">
                        <div class="mb-2">
                            <mat-form-field appearance="outline">
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                        <div class="mb-2">
                            <button mat-raised-button>add</button>
                        </div>
                    </div>
                    <div class="col">

                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-6 col-md-6">
            <div class="form-option">

            </div>
        </div>
    </div>
</div>