.form-speciality {
    /* border: 1px solid #ccc; */
    padding: 20px;
    background: #fff;


}

.form-speciality mat-form-field {
    width: 300px;
}

.form-speciality button {
    width: 300px;
}

.form-option {
    padding: 20px;
}

.form-option mat-form-field {
    width: 300px;
}

.form-level {
    padding: 20px;
}

.form-level mat-form-field {
    width: 300px;
}

.form-level button {
    width: 300px;
}

.form-course {
    padding: 10px;
}

.form-course mat-form-field {
    width: 300px;
}


.form-course button {
    width: 300px;
}

.form-option button {
    width: 300px;
}

mat-form-field {
    width: 400px;
}
.card{
  border: none;
  box-shadow: 3px 3px 3px  #eee;
}

button {
    width: 400px;
}
