.card {
    box-shadow: 5px 5px 5px #333;
    border: 1px solid #ccc;
    background: #FFF;
}

mat-form-field {
    width: 400px;
    color: blue;
    font-weight: bold;
}

input {
    width: 400px;
    color: blue;
}