<h1 class="mat-2" mat-dialog-title>Enrolle New Courses</h1>
<mat-dialog-content [formGroup]="">
    <small class="text-success mb-2">This action will create a course with a specific Level and Option</small>
    <div class="row">
        <div class="col">
            <div class="mb-2">
                <mat-form-field>
                    <mat-label>Select course</mat-label>
                    <mat-select formControlName="course">
                        <mat-option>coursename</mat-option>
                    </mat-select>
                    <mat-error>You must a course</mat-error>
                </mat-form-field>
            </div>
            <div class="mb-2">
                <mat-form-field>
                    <mat-label>Select level </mat-label>
                    <mat-select formControlName="level">
                        <mat-option>Not yet available</mat-option>
                    </mat-select>
                  <mat-error>You must a level</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="col">
            <mat-form-field>
                <mat-label>Select Option</mat-label>
                <mat-select formControlName="option">
                    <mat-option >option</mat-option>
                </mat-select>
                <mat-error>You must an option</mat-error>
            </mat-form-field>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button matTooltip="Cancel" mat-raised-button color="warn" (click)="onClose()">Cancel</button>&nbsp;&nbsp;
    <button type="submit" mat-raised-button color="primary" [disabled]="!courseEnrollment.valid" matTooltip="save" (click)="onSave()" >Save</button>
</mat-dialog-actions>