<div class="container p-4 d-flex justify-content-start">
  <!--  <div class="card" style="width: 285px; height: 617px; border-radius: 34px;">-->
  <div class="row">
    <div class="px-4">
      <h4 class="text-center my-4 pb-2">What do you want to learn today?</h4>
      <div class="row">

        <div class="col-6">
          <div class="card mobile-card mb-3">
            <div class="card-body d-flex justify-content-center align-items-center">
              <i class="bi bi-person bi-2x"></i>
            </div>
          </div>
          <p class="small text-center mb-4">Knots</p>
        </div>
        <div class="col-6">
          <div class="card mobile-card mb-3">
            <div class="card-body d-flex justify-content-center align-items-center">
              <i class="bi bi-arrow-up bi-2x"></i>
            </div>
          </div>
          <p class="small text-center mb-4">Increase</p>
        </div>
      </div>
<!--    end  -->
      <div class="row">
        <div class="col-6">
          <div class="card mb-3">
            <div class="card-body d-flex justify-content-center align-items-center">
              <i class="bi bi-ubuntu bi-2x"></i>
            </div>
          </div>
          <p class="small text-center mb-4">Ubuntu</p>
        </div>
        <div class="col-6">
          <div class="card mb-3">
            <div class="card-body d-flex justify-content-center align-items-center">
              <i class="bi bi-cart-plus bi-2x"></i>
            </div>
          </div>
          <p class="small text-center mb-4">Sailing teory</p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="card mb-3">
            <div class="card-body d-flex justify-content-center align-items-center">
              <i class="bi bi-trash-fill bi-2x"></i>
            </div>
          </div>
          <p class="small text-center mb-4">Pilotage</p>
        </div>
        <div class="col-6">
          <div class="card mb-3">
            <div class="card-body d-flex justify-content-center align-items-center">
              <i class="bi bi-cloud-download-fill bi-2x"></i>
            </div>
          </div>
          <p class="small text-center mb-4">Weather</p>
        </div>
      </div>
      <div class="d-flex justify-content-between border-top pt-3">
        <button mat-icon-button class="box-shadow"> <mat-icon>dashboard</mat-icon></button>
        <button mat-icon-button class="box-shadow"> <mat-icon>person</mat-icon></button>
        <button mat-icon-button class="box-shadow"> <mat-icon>delete</mat-icon></button>
        <button mat-icon-button class="box-shadow"> <mat-icon>edit</mat-icon></button>
      </div>
    </div>
  </div>
</div>

