.sidenav-container {
  height: 100%;
  /* background: whitesmoke; */
  font-size: .875rem;
  background-color: #f9f9f9;
}

.sidenav {
  width: 220px;
  background-color: #fff;
  font-weight: bold;
}



.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-icon{
  font-size: 24px;
}
.matListItemIcon{
  color: #333;
}


a{
  font-size: 20px;
}

.custorm-icon{
  display: inline-flex;
  position: relative;
  top: 4px;
  margin-right: 14px;
}
mat-nav-list a.active{
  background: #ccc;
}

mat-nav-list a.hover{
  background: green;
}


