<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>

      <a mat-list-item routerLink="./" routerLinkActive="active"><mat-icon matListItemIcon
          class="text-dark">dashboard</mat-icon>Home</a>
      <a mat-list-item routerLink="./courses"><mat-icon matListItemIcon class="text-dark">book_4</mat-icon>Course</a>
      <a> <app-student-tree></app-student-tree> </a>
      <a mat-list-item routerLink="./course-offering"><mat-icon matListItemIcon
          class="text-dark">event_available</mat-icon>Time Table</a>
      <a mat-list-item routerLink="./teacher"><mat-icon matListItemIcon class="text-dark">group</mat-icon>Teachers</a>
      <a mat-list-item routerLink="./assessments"><mat-icon matListItemIcon
          class="text-dark">event_available</mat-icon>Assessment</a>
      <a mat-list-item routerLink="./student-assessment"><mat-icon
          class="custorm-icon text-dark">assignment_add</mat-icon>Student Marks </a>
      <a mat-list-item routerLink="./student-school-fee"><mat-icon
          class="custorm-icon text-dark">payments</mat-icon>Student School Fee </a>

      <hr>
      <a mat-list-item routerLink="./settings"><mat-icon matListItemIcon
          class="text-dark">settings</mat-icon>Settings</a>
      <a mat-list-item routerLink="./school-fee"><mat-icon class="custorm-icon text-dark">price_change</mat-icon>Fixe
        School Fee </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>sekou</span>
      <div class="spacer"></div>
      John
      <button [matMenuTriggerFor]="menu" mat-icon-button> <mat-icon>person</mat-icon> </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/login" routerLinkActive="active">Sing in</button>
        <button mat-menu-item (click)="LogOut()" routerLinkActive="active">Logout</button>
      </mat-menu>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>