.sidenav-container {
  height: 100%;
  /* background: whitesmoke; */
  /*background: #f2f1ef;*/
  font-size: .875rem;
}
.matListItemIcon{
  color: #333;
}

.sidenav {
  width: 200px;
  background: #ffff;

}



.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
