<div class="container">
    <h1 class="mat-1">
        <button mat-icon-button routerLink="/admin/students" matTooltip="Go back">
            <mat-icon>arrow_back</mat-icon></button>
        Register Student
    </h1>
    <p class="text-info">Always Rember A Registration Its For A School Year</p>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="" [formGroup]="registerStudentForm">
                <div class="row">
                    <!-- firstcol -->
                    <div class="col">
                        <div class="mb-2">
                            <mat-form-field>
                                <mat-label>Name</mat-label>
                                <input type="text" matInput [value]="student.lastName " disabled>
                            </mat-form-field>
                        </div>
                        <!-- Level -->
                        <div class="mb-2" formGroupName="level">
                            <mat-form-field>
                                <mat-label>Select Level</mat-label>
                                <mat-select formControlName="id">
                                    <mat-option *ngFor="let level of levels" [value]="level.id">{{level.name
                                        }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div><!-- end -->
                        <div class="mb-2">
                            <mat-form-field>
                                <mat-label>Fee Register</mat-label>
                                <input type="number" matInput formControlName="feeRegister">
                                <mat-error>You must enter a valid Fee</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- second col -->
                    <div class="col">
                        <div class="mb-2">
                            <mat-form-field>
                                <mat-label>Register Year</mat-label>
                                <input type="number" matInput formControlName="endDate" />
                                <mat-error>You must a valid Year school</mat-error>
                                <mat-hint>Ex. 2024</mat-hint>
                            </mat-form-field>
                        </div>
                        <!-- option -->
                        <div class="mb-2" formGroupName="option">
                            <mat-form-field>
                                <mat-label>Select option</mat-label>
                                <mat-select formControlName="id">
                                    <mat-option *ngFor="let option of options" [value]="option.id">{{ option.name |
                                        uppercase
                                        }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div><!-- end -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 d-flex justify-content-between">
                        <button *ngIf="!(loading$ | async)" mat-flat-button color="primary" [disabled]="!registerStudentForm.valid"
                            (click)="onSave()">save</button>
                        <button *ngIf="loading$ | async" class="btn btn-primary " type="button" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Saving...
                        </button>
                        <button routerLink="/admin/students" mat-flat-button color="warn">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>